<div class="mt-4">
    <h3> Danh sách khóa học </h3>
    <a href="/me/trash/courses">Trash</a>
    <table class="table">
      <input type="checkbox" aria-label="Checkbox for following text input" id="pickall">
      <label for="pickall">Chọn tất cả</label>
      <div class="input-group">
      <select class="custom-select" id="inputSelectCheckbox" >
        <option selected>Choose...</option>
        <option value="del">One</option>
      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id = "do-it">Thực hiện</button>
      </div>
    </div>

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên Khóa Học</th>
      <th scope="col">Trình độ</th>
      <th scope="col">Thời gian tạo</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">
        <input type="checkbox" class="checkbox[]" id="{{this._id}}">
      </th>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.createAt}}</td>
      <td><a href="/me/edit/courses/{{this._id}}" class="btn btn-link">Sửa</a></td>
      <td><a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#deleteCourse">Xóa</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<p>Tổng số data là {{count}}</p>
</div>

{{!--confirm del --}}

<div class="modal" tabindex="-1" role="dialog"  id="deleteCourse">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are u sure</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form method="post" id="form-del">
  <input type="hidden" name="idCheckbox">
</form>

<script>
  document.addEventListener("DOMContentLoaded", function(){

    var id 
    $('#deleteCourse').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    id = button.data('id') // Extract info from data-* attributes
    })

    document.getElementById('btn-delete').addEventListener('click', function(event){
      var formSubmit =  document.getElementById('form-del');
      formSubmit.action=`/me/delete/courses/${id}?_method=DELETE`
      formSubmit.submit()
    })

    let checkall = document.getElementById("pickall")
    
    checkall.addEventListener("change", (e)=>{
        if (e.target.checked) {
          let arrayCheckbox = document.getElementsByClassName("checkbox[]")
          let checkboxArray = Array.from(arrayCheckbox);

          // Sử dụng phương thức forEach trên mảng checkboxArray
          checkboxArray.forEach(function(checkbox) {
            checkbox.checked =true
          });
        } else {
          let arrayCheckbox = document.getElementsByClassName("checkbox[]")
          let checkboxArray = Array.from(arrayCheckbox);

          // Sử dụng phương thức forEach trên mảng checkboxArray
          checkboxArray.forEach(function(checkbox) {
            checkbox.checked =false
          });
        }
    })

    let checkboxTable = document.getElementsByClassName("checkbox[]")
    Array.from(checkboxTable).forEach((checkboxItem)=>{
        checkboxItem.addEventListener("change",(e)=>{
              var allChecked = Array.from(checkboxTable).every(function(checkbox) {
                return checkbox.checked === true;
              });
              if (allChecked){
                document.getElementById("pickall").checked =true;
              } else {
                document.getElementById("pickall").checked =false;
              }
        })
    })

    let buttonExecute = document.getElementById("do-it")
    buttonExecute.addEventListener("click", ()=>{
      var formSubmit =  document.getElementById('form-del');
      formSubmit.action=`/me/delete/courses?_method=DELETE`
      let arrId = Array.from(checkboxTable).reduce((accumulator, checkboxEle) => {
        if (checkboxEle.checked && checkboxEle.id !== '') {
          accumulator.push(checkboxEle.id);
        }
        return accumulator;
      }, []);
      let stringIds = arrId.join(";");

      formSubmit.idCheckbox.value= stringIds;
      console.log(formSubmit.idCheckbox.value)
      formSubmit.submit()
    })

    




})
</script>